{% extends "base.html" %}
{% block content %}

<form action="/products/{{product.id}}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="description" name="name" placeholder="{{product.name}}" required>
    </div>
    <div>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" placeholder="{{product.quantity}}" required>
    </div>
    <div>
        <label for="cost">Cost:</label>
        <input type="number" id="cost" name="cost" placeholder="{{product.cost}}" required>
    </div>
    <div>
        <label for="selling_price">Selling Price:</label>
        <input type="number" id="selling_price" name="selling_price" placeholder="{{product.selling_price}}" required>
    </div>
    <div>
        <label for="supplier">Supplier:</label>
        <select id="supplier" name="supplier_id">
        {% for supplier in all_suppliers %}
            <option value="{{ supplier_id }}"
            {% if product.supplier.id== supplier.id %} selected="selected"{% endif %}>
            {{ supplier.name }}
            </option>
        {% endfor %}
        </select>
    </div>
    <button type="submit">Update Task</button>
</form>

{% endblock %}
