{% extends 'base.html' %}
{% block content %}
{% for product in all_products %}
<div class="outside_box">
    <div class="box">
        <div>Supplier: {{product.supplier.name}}</div>
        <div>Name: {{product.name}}</div>
        <div>Quantity: {{product.quantity}}</div>
        <div>Cost: £{{product.cost}}</div>
        <div>Selling Price: £{{product.selling_price}}</div>
        {% if product.quantity <= product.low_stock %}
            <h4 style="color:red;">Low Stock!</h4>
        {% else %}
            <h4 style="color:Green;">In Stock</h4>
        {% endif %}
        <div class="button_box">
            <form class="delete-form" action="/products/{{product.id}}/delete" method="POST">
                <button class="buttons">
                    <span class="fa-stack fa-2x">
                        <i class="fa-solid fa-circle fa-stack-2x" style="color:#222831"></i>
                        <i class="fa-solid fa-trash-can fa-stack-1x fa-inverse" style="color:#00ADB5"></i>
                    </span>             </button>
            </form>
            <form class="edit-form" action="/products/{{product.id}}/edit">
                <button class="buttons">
                    <span class="fa-stack fa-2x">
                        <i class="fa-solid fa-circle fa-stack-2x" style="color:#222831"></i>
                        <i class="fa-solid fa-pen-to-square fa-stack-1x fa-inverse" style="color:#00ADB5"></i>
                    </span>        
                </button>
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}