{% extends 'base.html' %}
{% block content %}
{% for supplier in all_suppliers %}
<div>
    <div>
        <div>Supplier: {{supplier.name}}</div>
        <div>Link: {{supplier.link}}</div>
        <div>Phone: {{supplier.phone}}</div>
        <form class="delete-form" action="/suppliers/{{supplier.id}}/delete" method="POST">
            <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
        </form>
        <button><a href="/suppliers/{{supplier.id}}/edit">Edit</a></button>
        
        &nbsp; 
    </div>
</div>
{% endfor %}
{% endblock content %}