body {
    background: #222831;
}

a {
    text-decoration: none;
    color: #9c9c9c;
    /* font-family: 'Rubik Moonrocks'; */

}

header {
    width: 100%;
    height: 51px;
    background: #393E46;
    margin-bottom: 50px;
    border-radius: 25px;
}

ul {
    background: #00ADB5;
    list-style: none;
    margin: 0;
    padding-left: 20px;
    
}

ul.dropdown {
    padding-left: 0px;
}
li {
    color: #9c9c9c;
    background: #393E46;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    border-radius: 5px;

}

li a {
    color: #EEEEEE;
}

li:hover,
li:focus-within {
    background: #00ADB5;
    cursor: pointer;
}

li:focus-within a {
    outline: none;
}

ul li ul {
    background: #393E46;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
    visibility: visible;
    opacity: 1;
    display: block
}

ul li ul li {
    clear: both;
    width: 100%;
}


.box {
    float: left;
    background:#393E46;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color:#00ADB5;
    margin: 5px;
    text-align: center;
    width: 100%;
    height: 250px;
}

.outside_box {
    float: left;
    width: 23%;
    background:#393E46;
    border-radius: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.edit-form  {
    width: 20%;
    display: flex;
    align-items: center;
    height: 100px;
}


.delete-form  {
    width: 20%;
    display: flex;
    align-items: center;
    height: 100px
}

.buttons {
    background:#393E46;
	border-color: #393E46;
	border-style: solid;
    height: 100px;
}

div {
    color: #EEEEEE
}

.new_box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.new_box_small {
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color:#00ADB5;
    margin: 5px;
    text-align: center;
}

.button_box {
    width:95%;
    height: 100px;
    display:flex;
    justify-content: space-evenly;
}

.outside_box_supplier {
    float: left;
    width: 30%;
    background:#393E46;
    border-radius: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h4 {
    margin: 0px;
}